<launch>
   <!-- 添加点云坐标系到kinect的坐标变换 -->
   <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /support /support_depth" />

   <!-- 打开rviz并将保存的rviz show_mcar设置载入 -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf01_rviz)/config/show_mycar.rviz" />
     <!-- 关节状态发布节点 -->
     <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
     <!-- 机器人状态发布节点 -->
     <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
     <!-- 控制关节运动节点 -->

</launch>