<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find nav_demo)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_demo)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find nav_demo)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_demo)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_demo)/param/base_local_planner_params.yaml" command="load" />
        <!-- <param name="base_global_planner" value="navfn/NavfnROS"/> -->
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <!-- 默认使用dijkstra，false时用A* -->
        <param name="GlobalPlanner/use_dijkstra" value="false"/>
        <param name="GlobalPlanner/old_navfn_behavior" value="true"/>

        <!-- <param name="GlobalPlanner/use_quadratic" value="false"/> -->
        <!-- <param name="GlobalPlanner/use_grid_path" value="false"/> -->

    </node>

</launch>
